.navbar-right {
	margin-right: 0;
}

.text-description {
  	color: #fff;
  	margin: 10px 20px 20px 20px;
  	font-size: 1em
}

.carousel {
	margin-top: 20px;
}

.bg-primary {
	background-color: #E0DEDE /*#3E3B3B*/
}

.header-content-inner h1,
.header-content-inner p {
	color: #fff !important;
}

.btn-primary {
	background-color: #C32E0E;
	border-color: #C32E0E
}

hr {
	border-color: #C32E0E
}

.text-primary {
	color: #C32E0E;
}

.text-darker {
    color: #484646;
}

.navbar-default .nav > li>a {
	color: #fff;
} 

.navbar-default .nav>li>a:hover {
	color: #f05f40;
}

.navbar-default .nav>li.active>a:focus {
	color: #C32E0E;
}

a {
	color: #C32E0E;
}

footer {
	height: 7%;
}

footer ul {
	margin-top: 1em;
	list-style: none;
	text-align: center
}

footer ul li {
	display: inline;
	font-size: 1.2em;
}

footer ul li a {
	color: #fff !important;
}

footer ul li a:hover {
	color: #C32E0E !important;
}

.btn-fb {
	margin-right: 2em !important
}